
body{
    background-image: linear-gradient(to right, hsl(0, 2%, 49%) 0%, black 100%);
    width: 98%;
    height: 100%;
    border: 10px solid beige;
    padding: 10px; 
}
.header{
    color: beige;
    text-align: center;
    display: flex;
    margin-left:37%;
    }
.header h1{
    font-size: 50px;
    text-align: center;
    color:burlywood;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.header h2{
    margin-left: 100px;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.topright{

    height: 20%;
    background-color: beige;
    width: 95.6%;
    padding: 50px;
    font-size: 15px;
    font-family:sans-serif;
    color:black; 
    align-items: center; 

}
.content{
    text-align: center;
    margin-left: 43% ;
    display: flex;
    gap: 30px;
}




