*{
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(150, 104, 194);
}
header{
    text-align: center;
    color: beige;
}
.outer p{
    font-size: 25px;
}
.inner p{
    font-size: 10px;
}