*{
    margin: 0;
    padding: 0;
}
body{
    border:10px solid white;
    height: 90%;
    background-color: rgb(0, 0, 0);
}
.header{
    height: 50%;
    width: 90%;
    background-color: black;
    padding: 40px;
}
.text{
    color: aliceblue;
}
.text h1{
    font-family:monospace
}
.text h2{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    display: flex;
    gap: 90px;
    margin-left: 85%;

}
.content1{
    height: 500px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-top: 200px;
}
.contents{
    display: flex ;
    gap: 100px;
    margin-left: 80px;
    justify-content: center;
}
